.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 300px;
	height: 380px;
	background-color: #fff;
	color: #000;
	font-size: 17px;
	line-height: 1.15;
	font-weight: 600;
	letter-spacing: 0.007em;
	border-radius: 18px;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
	cursor: pointer;
	
	// :hover {
	// 	// transform: scale3d(1.01, 1.01, 1.01);
	// }

	img {
		margin:  0 auto;
	}
	.title {
		font-size: 20px;
		margin-bottom: 10px;
		padding: 30px 30px 0 30px;
	}
	.buy {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 18px;
		margin-top: 10px;
		padding: 10px 30px 30px 30px;
	}
	.btn {
		cursor: pointer;
		display: inline-block;
		text-align: center;
		font-size: 14px;
		line-height: 1.17648;
		letter-spacing: -0.022em;
		padding: 8px 16px;
		border-radius: 980px;
		background: #0071e3;
		color: #fff;
		:hover {
			opacity: 0.7;
		}
	}

	&:hover {
		.label {
			bottom: 20%;
			opacity: 1;
		}
	}
	.label {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 15%;
		padding: 6px 10px;
		border-radius: 16px;
		background-color: #EBEBF0;
		font-size: 14px;
		font-weight: 400;
		opacity: 0;
		transition: all 0.5s ease;
		color: #2B2B2C;
	
	}
}


// 	// animation: surfacingDie 0.4s ease-in-out ;
// }

// @keyframes surfacingDie {
// 	0% {
// 		opacity: 0;
// 		bottom: 0%;
// 	}

// 	100%{
// 		bottom: 20%;
// 	}
// }
